<section class="error_page text-center m-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/img/Animated_Svg/error_404.svg" class="img-fluid mt-5" style="width: 700px;" alt="">
            </div>
        </div>
    </div>
</section>