<!-- User Profile -->
<section class="user-profile my-5">
    <div class="container">
        <div class="content text-primary w-75 px-md-5 px-2 py-5" style="margin-top: 100px !important;" id="bg">
            <div class="head d-flex w-100 justify-content-between border-1 border-bottom border-primary rounded-3 px-md-5 px-1 py-lg-2 pb-0">
                <h2 class="fw-bold" style="letter-spacing: 1px;">My Profile</h2>
                <a href="/update_user" class="text-decoration-none" data-toggle="tooltip" data-html="true" data-placement="top" title="Update User Info">
                    <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/diyeocup.json"
                        trigger="hover"
                        colors="primary:#f7b149"
                        style="width:50px;height:50px">
                    </lord-icon>
                </a>
            </div>
            <div class="row p-2">
                <div class="col-lg-6 col-12 justify-content-center d-flex">
                    <div class="profile-img w-100"><img src="/img/User.svg" class="img-fluid w-100" alt=""></div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-12 pt-4">
                            <div class="form-group">
                                <label class="d-block text-primary mb-1 fs-5 fw-bold">Name</label>
                                <input disabled type="text" name="name" class="form-control d-block bg-black lh-md py-2 px-3 text-primary mb-1 text-white w-100" value="<%= user.name %>">
                            </div>
                        </div>
                        <div class="col-12 pt-4">
                            <div class="form-group">
                                <label class="d-block text-primary mb-1 fs-5 fw-bold">Email ID</label>
                                <input disabled type="text" name="email" class="form-control d-block bg-black lh-md py-2 px-3 text-primary mb-1 text-white w-100" value="<%= user.email %>">
                            </div>
                        </div>
                        <div class="col-12 pt-4">
                            <div class="form-group">
                                <label class="d-block text-primary mb-1 fs-5 fw-bold">Phone No.</label>
                                <input disabled type="text" name="phone" class="form-control d-block bg-black lh-md py-2 px-3 text-primary mb-1 text-white w-100" value="<%= user.phone %>">
                            </div>
                        </div>
                        <div class="col-12 pt-4">
                            <div class="form-group">
                                <label class="d-block text-primary mb-1 fs-5 fw-bold">Address</label>
                                <textarea disabled type="text" name="address" class="form-control d-block bg-black lh-md py-2 px-3 text-primary mb-1 text-white w-100"><%= user.address %></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>